@using NS.Web.Areas.Administration.Models
@model CategoriesCountViewModel
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">Total Categories</div>
        <div class="panel-footer">@Model.CategoriesCount</div>
    </div>
</div> 