@using NS.Web.Areas.Administration.Models
@model ProductsCountViewModel
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">Total Products</div>
        <div class="panel-footer">@Model.ProductsCount</div>
    </div>
</div> 