@using NS.Web.Areas.Administration.Models
@model SuppliersCountViewModel
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">Total Suppliers</div>
        <div class="panel-footer">@Model.SuppliersCount</div>
    </div>
</div> 